
#map { height: 95vh; }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    width: 100%;
    background-color: #151934;
}

#webpage{
    display: grid;
    grid-template-areas: 
        "sidebar    map"
        "footer     footer";

    grid-template-columns: 1fr  8fr;
    grid-template-rows: 5fr  1fr;
    height: 100%;
    width: 100%;
}

#sidebar{
    grid-area: sidebar;
    width: 100%;
    height: 100%;
}

#map { 
    grid-area: map;
    width: 100%;
    height: 100%; 
}

footer{
    grid-area: footer;
}
