
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

html , body{
    height: 100%;
    width: 100%;
    background-color: #151934;
    font-family: ui-sans-serif,;
}

#webpage{
    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

#map{
    min-height: 0;
    flex: 1;
}

footer{
    display: flex;
    flex: 0 0 auto;
    height: 170px;
    color: white;
    justify-content: space-around;
    padding: 25px;
}

#viewing_mode{
    margin: 10px 10px 10px 10px;
    border: none;
}


.footer__headers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__headers div{
    display: flex;
    flex-direction: column;
}

.footer__headers button{
    margin: 5px 0px;
    background: none;
    color: white;
    border-color: #2b325e; 
    padding: 5px 15px;
    border-radius: 15px;
    font-size: large;
}

.footer__headers button:hover{
    background-color: #2b325e;
}

.footer__headers span{
    padding: 5px 0px;
    border-color: #2b325e; 
    padding: 5px 15px;
    border-radius: 15px;
    font-size: large;
    border: 2px solid #2b325e;
    margin: 5px;
}
